:root {
  --suggestion-border: 1px solid #d8d8d8;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  background: url('shift.jpg');
  font-family: sans-serif;
  max-width: 100%;
  overflow: hidden;
  font-size: 18px;
}

.form-wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search-form {
  width: 800px;
  margin: 0 50px;
}

.search {
  width: 100%;
  padding: 20px;
  margin: 0;
  outline: 0;
  border: 10px solid #f7f7f7;
  position: relative;
  top: 10px;
  border-radius: 5px;
  font-size: 40px;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  border-radius: 0 0 5px 5px;
}

.suggestions li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: var(--suggestion-border);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  background-color: white;
  cursor: pointer;
}

.suggestions li:last-child {
  border-radius: 0 0 5px 5px;
}

span.population {
  font-size: 15px;
}

.info {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.info .info__list {
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 1140px;
  height: 80%;
  overflow-y: scroll;
}

.info .info__list li {
  margin: 10px 0;
  font-size: 25px;
  border-bottom: 2px solid #000;
}

.active {
  display: block;
}
